<?xml version="1.0" encoding="utf-8" ?>
<configuration>

  <!-- ***********************************
  the Custom Config Section <configSections> </configSections> 
  must be placed first In the app config file
    *******************************  -->

  <!-- Custom ConfigSections Section -->
  <configSections>
    <section name="Local" type="System.Configuration.NameValueSectionHandler" />
    <section name="Dev" type="System.Configuration.NameValueSectionHandler" />
    <section name="QA" type="System.Configuration.NameValueSectionHandler" />
    <section name="Prod" type="System.Configuration.NameValueSectionHandler" />
  
  </configSections>

  <!-- ***************************************************** -->
  <!-- Local Environment Configuration Section               -->
  <!-- ***************************************************** -->

  <Local>
    <add key="Test" value="Local Environment" />

    <!-- <add key="TargetURL" value="http://localhost/OCEAN/Login.aspx" /> -->
    <add key="TargetURL" value="https://www.yahoo.com/ " />


    <add key="MyName" value="Gary.Greeneisen,12@safe" />
    <add key="xyz" value="xyz,xyz" />

    <add key="Principal" value="principal.cghs,12@safe" />
    <add key="Superintendent" value="superin043489.pacts,12@safe" />
    <add key="Facilitator" value="dataentry32.df,12@safe" />
    <add key="Data Entry" value="dataentry1.df,12@safe" />
    <add key="Reviewer" value="dataentry29.df,12@safe" />
    <add key="Admin" value="user1.df,12@safe" />
    <add key="ReadOnlyAdmin" value="adminro1.df,12@safe" />


    <add key="dbconnectionString" value="User Id=eas_app;Password=pzJ40O4WY;Data Source=APPSDEV" />

  </Local>

  <!-- ***************************************************** -->
  <!-- Dev Environment Configuration Section                  -->
  <!-- ***************************************************** -->


  <Dev>
    <add key="Test" value="Dev Environment" />
    <add key="NewPassword" value="12@safe" />

    <!-- <add key="TargetURL" value="http://v-oceanit/ocean/login.aspx" /> -->
    <add key="TargetURL" value="https://safedev.ode.state.oh.us/portal" />

    <add key="MyName" value="Gary.Greeneisen,12@safe" />
    <add key="xyz" value="xyz,xyz" />

    <add key="DFAdmin" value="user1.df,12@safe" />
    <add key="AutismNom1" value="stautnom141903.scholar,12@safe" />
    <add key="JPSNNom1" value="stautnom141903.scholar,12@safe" />
    <add key="AutismNom2" value="stautnom141903.scholar,12@safe" />
    <add key="EdChoiceNom1" value="stecsnom068403.scholar,12@safe" />
    <add key="EdChoice-ExpNom1" value="Nominator.ecs,12@safe" />
    <add key="ClevelandNom1" value="stclsnom000176.scholar,12@safe" />

    <add key="Scholarship.Parent" value="scholarship_parent,12@safe" />
    <add key="Parent.CCP" value="parent.ccp,12@safe" />

    <add key="JPSNAdmin" value="progadmin.scholarship,12@safe" />
    <add key="ProgramAdmin22+" value="Sthsdprogadmin.scholar,12@safe" />

    <add key="ProgramAdmin" value="progadmin.scholarship,12@safe" />
    <add key="ProgramSpecialistEdChoice" value="stedcprogspclst4.scholar,12@safe" />
    <add key="ProgramSpecialistAutism" value="stautprogspclst2.scholar,@testing6" />
    <add key="ProgramSpecialistJPSN" value="Stjpsprogspclst1.scholar,@testing7" />

    <!-- Application Files Upload Dir -->
    <add key="DocsUploadDir" value="C:\ODE\Testing\Upload Files" />

    <!-- Upload Filenames -->
    <add key="InsuranceCopy" value="InsuranceCopy.docx" />
    <add key="ProofofAddress" value="ProofofAddress.docx" />
    <add key="TaxIDFormW-9" value="TaxIDFormW-9.docx" />
    <add key="FeesSchedule" value="FeesSchedule.docx" />
    <add key="PolicyManual" value="PolicyManual.docx" />
    <add key="OtherElectronicDocument" value="OtherElectronicDocument.docx" />
    <add key="HealthandSafety" value="HealthandSafety.docx" />

    <add key="ScannedApplicationForm" value="ScannedApplicationForm.docx" />
    <add key="ServiceorGoalsModificationForm" value="ServiceorGoalsModificationForm.docx" />
    <add key="AcceptanceForm" value="AcceptanceForm.docx" />
    <add key="IEP(Electronic copy)" value="IEP(Electronic copy).docx" />
    <add key="ProofofCustody" value="ProofofCustody.docx" />
    <add key="ETR(Electronic copy)" value="ETR(Electronic copy).docx" />
    <add key="BirthCertificate" value="BirthCertificate.docx" />
    <add key="ReconsiderationRequestForm" value="ReconsiderationRequestForm.docx" />
    <add key="CapitalAndCreditStatement" value="Capital and Credit Statement.docx" />
    <add key="SuretyBond" value="Surety Bond.docx" />


    <add key="dbconnectionString" value="User Id=eas_app;Password=pzJ40O4WY;Data Source=APPSDEV" />


  </Dev>

  <!-- ***************************************************** -->
  <!-- QA Environment Configuration Section                 -->
  <!-- ***************************************************** -->

  <QA>
    <add key="Test" value="QA Environment" />
    <add key="NewPassword" value="12@safe" />

    <!-- <add key="TargetURL" value="https://oceantest.ohio.gov/OCEAN/Login.aspx?ReturnUrl=%2fOCEAN" /> -->
    <add key="TargetURL" value="https://safeqa.ode.state.oh.us/portal" />


    <add key="MyName" value="Gary.Greeneisen,12@safe" />
    <add key="xyz" value="xyz,xyz" />

    <add key="DFAdmin" value="user1.df,12@safe" />
    <add key="AutismNom1" value="Stautnom009897.scholar,12@safe" />
    <add key="JPSNNom1" value="stschnom123125.scholar,12@safe" />
    <add key="AutismNom2" value="stautnom141903.scholar,12@safe" />
    <add key="EdChoiceNom1" value="stedcprogspclst4.scholar,12@safe" />
    <add key="EdChoice-ExpNom1" value="stedcprogspclst4.scholar,12@safe" />
    <add key="ClevelandNom1" value="stclsnom133041.scholar,12@safe" />

    <add key="Scholarship.Parent" value="scholarship_parent,12@safe" />
    <add key="Parent.CCP" value="parent.ccp,12@safe" />

    <add key="JPSNAdmin" value="progadmin.scholarship,12@safe" />
    <add key="ProgramAdmin22+" value="Sthsdprogadmin.scholar,12@safe" />

    <add key="ProgramAdmin" value="progadmin.scholarship,12@safe" />
    <add key="ProgramSpecialistEdChoice" value="stedcprogspclst4.scholar,12@safe" />
    <add key="ProgramSpecialistAutism" value="stautprogspclst2.scholar,@testing6" />
    <add key="ProgramSpecialistJPSN" value="Stjpsprogspclst1.scholar,@testing7" />

    <!-- Application Files Upload Dir -->
    <add key="DocsUploadDir" value="C:\ODE\Testing\Upload Files" />

    <!-- Upload Filenames -->
    <add key="InsuranceCopy" value="InsuranceCopy.docx" />
    <add key="ProofofAddress" value="ProofofAddress.docx" />
    <add key="TaxIDFormW-9" value="TaxIDFormW-9.docx" />
    <add key="FeesSchedule" value="FeesSchedule.docx" />
    <add key="PolicyManual" value="PolicyManual.docx" />
    <add key="OtherElectronicDocument" value="OtherElectronicDocument.docx" />
    <add key="HealthandSafety" value="HealthandSafety.docx" />

    <add key="ScannedApplicationForm" value="ScannedApplicationForm.docx" />
    <add key="ServiceorGoalsModificationForm" value="ServiceorGoalsModificationForm.docx" />
    <add key="AcceptanceForm" value="AcceptanceForm.docx" />
    <add key="IEP(Electronic copy)" value="IEP(Electronic copy).docx" />
    <add key="ProofofCustody" value="ProofofCustody.docx" />
    <add key="ETR(Electronic copy)" value="ETR(Electronic copy).docx" />
    <add key="BirthCertificate" value="BirthCertificate.docx" />
    <add key="ReconsiderationRequestForm" value="ReconsiderationRequestForm.docx" />
    <add key="CapitalAndCreditStatement" value="Capital and Credit Statement.docx" />
    <add key="SuretyBond" value="Surety Bond.docx" />

    <add key="dbconnectionString" value="User Id=eas_app;Password=pzJ40O4WY;Data Source=APPSDEV" />


  </QA>

  <!-- ***************************************************** -->
  <!-- Production Environment Configuration Section          -->
  <!-- ***************************************************** -->

  <Prod>
    <add key="Test" value="Prod Environment" />
    <add key="NewPassword" value="12@safe" />

    <!-- <add key="TargetURL" value="https://ocean.ohio.gov/OCEAN/Login.aspx?ReturnUrl=%2fOCEAN" />  -->
    <add key="TargetURL" value="https://safe.ode.state.oh.us/portal/account/logon?returnurl=https://hrms.ode.state.oh.us/default.aspx" />


    <add key="MyName" value="Gary.Greeneisen,12@safe" />
    <add key="xyz" value="xyz,xyz" />

    <add key="DFAdmin" value="user1.df,12@safe" />
    <add key="AutismNom1" value="stschnom141903.scholar,12@safe" />
    <add key="JPSNNom1" value="stschnom141903.scholar,12@safe" />
    <add key="AutismNom2" value="stautnom141903.scholar,12@safe" />

    <add key="ProgramAdmin" value="progadmin.scholarship,12@safe" />
    <add key="ProgramSpecialistEdChoice" value="stedcprogspclst4.scholar,12@safe" />
    <add key="ProgramSpecialistAutism" value="stautprogspclst2.scholar,@testing6" />
    <add key="ProgramSpecialistJPSN" value="Stjpsprogspclst1.scholar,@testing7" />

    <add key="ProgramAdmin22+" value="Sthsdprogadmin.scholar,12@safe" />

    <!-- Application Files Upload Dir -->
    <add key="DocsUploadDir" value="C:\ODE\Testing\Upload Files" />

    <!-- Upload Filenames -->
    <add key="InsuranceCopy" value="InsuranceCopy.docx" />
    <add key="ProofofAddress" value="ProofofAddress.docx" />
    <add key="TaxIDFormW-9" value="TaxIDFormW-9.docx" />
    <add key="FeesSchedule" value="FeesSchedule.docx" />
    <add key="PolicyManual" value="PolicyManual.docx" />
    <add key="OtherElectronicDocument" value="OtherElectronicDocument.docx" />
    <add key="HealthandSafety" value="HealthandSafety.docx" />

    <add key="ScannedApplicationForm" value="ScannedApplicationForm.docx" />
    <add key="ServiceorGoalsModificationForm" value="ServiceorGoalsModificationForm.docx" />
    <add key="AcceptanceForm" value="AcceptanceForm.docx" />
    <add key="IEP(Electronic copy)" value="IEP(Electronic copy).docx" />
    <add key="ProofofCustody" value="ProofofCustody.docx" />
    <add key="ETR(Electronic copy)" value="ETR(Electronic copy).docx" />
    <add key="BirthCertificate" value="BirthCertificate.docx" />
    <add key="ReconsiderationRequestForm" value="ReconsiderationRequestForm.docx" />
    <add key="CapitalAndCreditStatement" value="Capital and Credit Statement.docx" />
    <add key="SuretyBond" value="Surety Bond.docx" />

    <add key="dbconnectionString" value="User Id=eas_app;Password=pzJ40O4WY;Data Source=APPSDEV" />


  </Prod>

  <!-- ******************************************** -->
  <!-- *** Environment Vars Section ****            -->
  <!--      Comment and Uncomment                   -->
  <!-- ******************************************** -->


  <appSettings>
    <add key="Test" value="IT Test Value" />
    <add key="URL" value="http://v-oceanit/ocean/login.aspx" />


    <!-- ******************************************** -->
    <!-- *** Different Browsers Section ****          -->
    <!-- ******************************************** -->

    <!-- 
    <add key ="BrowserType" value="Firefox" />
    -->

    <!-- -->
    <add key="BrowserType" value="Chrome" />


    <!-- 
    <add key ="BrowserType" value="IE" />
    -->

    <!-- 
    <add key ="BrowserType" value="Edge" />
    -->


    <!-- ******************************************** -->
    <!-- *** Environment Vars Section ****-->
    <!-- ******************************************** -->

    <!-- 
    <add key="Environment" value="Local" />
    -->

    <!--   -->
    <add key="Environment" value="Dev" />


    <!--   
    <add key="Environment" value="QA" />
    -->

    <!--
    <add key="Environment" value="Prod" />
    -->


  </appSettings>


</configuration>